<div>
  <h2 id="page-heading" data-cy="BioProfileHeading">
    <span jhiTranslate="h1BRegisterApplicationApp.bioProfile.home.title">Bio Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="h1BRegisterApplicationApp.bioProfile.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bio-profile"
        [routerLink]="['/bio-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="h1BRegisterApplicationApp.bioProfile.home.createLabel"> Create a new Bio Profile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bioProfiles?.length === 0">
    <span jhiTranslate="h1BRegisterApplicationApp.bioProfile.home.notFound">No bioProfiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bioProfiles && bioProfiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="h1BRegisterApplicationApp.bioProfile.userName">User Name</span></th>
          <th scope="col"><span jhiTranslate="h1BRegisterApplicationApp.bioProfile.userId">User Id</span></th>
          <th scope="col"><span jhiTranslate="h1BRegisterApplicationApp.bioProfile.memberId">Member Id</span></th>
          <th scope="col"><span jhiTranslate="h1BRegisterApplicationApp.bioProfile.firstName">First Name</span></th>
          <th scope="col"><span jhiTranslate="h1BRegisterApplicationApp.bioProfile.lastName">Last Name</span></th>
          <th scope="col"><span jhiTranslate="h1BRegisterApplicationApp.bioProfile.dob">Dob</span></th>
          <th scope="col"><span jhiTranslate="h1BRegisterApplicationApp.bioProfile.gender">Gender</span></th>
          <th scope="col"><span jhiTranslate="h1BRegisterApplicationApp.bioProfile.imageUrl">Image Url</span></th>
          <th scope="col"><span jhiTranslate="h1BRegisterApplicationApp.bioProfile.title">Title</span></th>
          <th scope="col"><span jhiTranslate="h1BRegisterApplicationApp.bioProfile.summary">Summary</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bioProfile of bioProfiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bio-profile', bioProfile.id, 'view']">{{ bioProfile.id }}</a>
          </td>
          <td>{{ bioProfile.userName }}</td>
          <td>{{ bioProfile.userId }}</td>
          <td>{{ bioProfile.memberId }}</td>
          <td>{{ bioProfile.firstName }}</td>
          <td>{{ bioProfile.lastName }}</td>
          <td>{{ bioProfile.dob }}</td>
          <td>{{ bioProfile.gender }}</td>
          <td>{{ bioProfile.imageUrl }}</td>
          <td>{{ bioProfile.title }}</td>
          <td>{{ bioProfile.summary }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/bio-profile', bioProfile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bio-profile', bioProfile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bioProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
